# Git
.git
.gitignore

# Node.js
# These should be installed *inside* the container, not copied
**/node_modules
npm-debug.log
yarn-error.log


# OS junk files
.DS_Store
Thumbs.db

# Secrets
# Never build secrets into your image!
.env
.env.*
!.env.example

# Docker files (meta)
Dockerfile
.dockerignore
docker-compose.yml

# Logs and documentation
*.log
README.md
